In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [3]:
data = pd.read_csv('../data/telecom_churn.csv')

In [4]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
data.drop(['State', 'Voice mail plan'], axis=1, inplace=True)

In [6]:
data['International plan'] = data['International plan'].map({ 'Yes': 1, 'No': 0})

In [7]:
data.head()

,Account length,Area code,International plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,128,415,0,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,107,415,0,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,137,415,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,84,408,1,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,75,415,1,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 18 columns):
Account length            3333 non-null int64
Area code                 3333 non-null int64
International plan        3333 non-null int64
Number vmail messages     3333 non-null int64
Total day minutes         3333 non-null float64
Total day calls           3333 non-null int64
Total day charge          3333 non-null float64
Total eve minutes         3333 non-null float64
Total eve calls           3333 non-null int64
Total eve charge          3333 non-null float64
Total night minutes       3333 non-null float64
Total night calls         3333 non-null int64
Total night charge        3333 non-null float64
Total intl minutes        3333 non-null float64
Total intl calls          3333 non-null int64
Total intl charge         3333 non-null float64
Customer service calls    3333 non-null int64
Churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(9)
memory usage: 446.0 KB

In [9]:
y = data['Churn'].astype('int')

In [10]:
x = data.drop('Churn', axis=1)

In [11]:
y.shape, x.shape

((3333,), (3333, 17))

In [12]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.3, random_state=17)

In [13]:
x_train.shape, x_valid.shape

((2333, 17), (1000, 17))

In [14]:
first_tree = tree.DecisionTreeClassifier(random_state=17)

In [15]:
cv = cross_val_score(first_tree, x_train, y_train, cv=5)

In [16]:
np.mean(cv)

0.9138423504976518

In [17]:
first_knn = KNeighborsClassifier()

In [18]:
cv_knn = cross_val_score(first_knn, x_train, y_train, cv=5)

In [19]:
np.mean(cv_knn)

0.8671274043984523

In [33]:
##setup max depth for tree

In [20]:
tree_params = { 'max_depth' : np.arange(1, 11) }

In [21]:
tree_grid = GridSearchCV(first_tree, tree_params, cv=5)

In [22]:
tree_grid.fit(x_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=17,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [23]:
tree_grid.best_score_

0.9417059579939991

In [24]:
tree_grid.best_params_

{'max_depth': 6}

In [25]:
tree_grid.best_score_

0.9417059579939991

In [26]:
tree_grid.best_index_

5

In [27]:
knn_grid = GridSearchCV(first_knn, { 'n_neighbors': range(5, 30, 5) }, cv=5)

In [28]:
knn_grid.fit(x_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_neighbors': range(5, 30, 5)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [29]:
knn_grid.best_score_, knn_grid.best_params_

(0.8701243034719246, {'n_neighbors': 10})

In [30]:
tree_grid.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=17,
            splitter='best')

In [31]:
tree_valid_predict = tree_grid.predict(x_valid)

In [32]:
from sklearn.metrics import accuracy_score

In [33]:
accuracy_score(y_valid, tree_valid_predict)

0.946

In [34]:
1 - np.mean(y)

0.8550855085508551

In [35]:
from sklearn.tree import export_graphviz

In [68]:
export_graphviz(tree_grid.best_estimator_, out_file='telecom3.dot', feature_names=x.columns, filled=True)

In [36]:
!ls -l *.dot

-rw-rw-r-- 1 rasmadeus rasmadeus 8078 янв 27 00:37 telecom3.dot

In [37]:
!dot -Tpng tree.dot -o tree.png

/bin/sh: 1: dot: not found